<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <!-- File appender -->
        <File name="LOGFILE" fileName="logs/client.log" append="true">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level: %msg%n" />
        </File>
        <Console name="STDOUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} [%t] %-5level: %msg%n" />
        </Console>
    </Appenders>

    <Loggers>
        <!-- Root logger -->
        <Root level="debug">
            <AppenderRef ref="LOGFILE" />
            <AppenderRef ref="STDOUT" />
        </Root>
    </Loggers>
</Configuration>
